html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.body {
  background-color: #eee;
}

.main {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  margin: 100px auto;
  max-width: 1600px;
  padding: 10px;
  box-shadow: 1px 1px 8px 4px hsl(0, 0%, 95%);
  border-radius: 12px;
}

.header {
  font-size: 40px;
  font-weight: 700;
  margin: 20px 0 20px;
  text-align: center;
}

.container {
  padding: 20px;
}
